.loading-page__item {
    position: fixed;
    z-index: 1300;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background: rgb(238,174,202);
    background: linear-gradient(294deg, rgba(238,174,202,0.7) 0%, rgba(148,187,233,0.7) 100%);
}

.loading-page__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}